<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>supersabatina</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <display-name>Filter</display-name>
    <filter-name>Filter</filter-name>
    <filter-class>br.com.supersabatina.controller.Filter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Filter</filter-name>
    <url-pattern>/Filter</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>LogoffController</display-name>
    <servlet-name>LogoffController</servlet-name>
    <servlet-class>br.com.supersabatina.controller.LogoffController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoffController</servlet-name>
    <url-pattern>/LogoffController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuestionGroupController</display-name>
    <servlet-name>QuestionGroupController</servlet-name>
    <servlet-class>br.com.supersabatina.controller.QuestionGroupController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionGroupController</servlet-name>
    <url-pattern>/QuestionGroupController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Teste</servlet-name>
    <url-pattern>/Teste</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuestionController</display-name>
    <servlet-name>QuestionController</servlet-name>
    <servlet-class>br.com.supersabatina.controller.QuestionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionController</servlet-name>
    <url-pattern>/QuestionController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DashboardController</display-name>
    <servlet-name>DashboardController</servlet-name>
    <servlet-class>br.com.supersabatina.controller.DashboardController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DashboardController</servlet-name>
    <url-pattern>/DashboardController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GameController</display-name>
    <servlet-name>GameController</servlet-name>
    <servlet-class>br.com.supersabatina.controller.GameController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GameController</servlet-name>
    <url-pattern>/GameController</url-pattern>
  </servlet-mapping>
</web-app>